
:root {
	/* CSS Custom Property */
	/* CSS Variables */
	--movies-grid-columns: 4;
}

.movies-grid {
	display: grid;
	grid-template-columns: repeat(var(--movies-grid-columns), 1fr);
}

.movie-row {
	display:grid;
	grid-template-columns: subgrid;
	grid-column: span var(--movies-grid-columns);
}

.movie-row div {
	border-right: 2px gray solid;
	padding-left: 0.2em;
}

.movies-grid div:last-child {
	border-right: 0;
}

.movies-grid > .movie-row:first-child div {
	text-align: center;
	font-weight: bold;
	border-bottom: 2px black solid;
}
/*
.movies-grid {}
.movies-title {}
.movies-genre {}
.movies-year {}
.movies-length {}
*/